.hero {
    position: absolute;
    width: 70%;
    height: 80vh;
    left: 20%;
    top: 3%;
    background-color: var(--hero-color);
    border-radius: 35px;
    padding: 50px;

    color: var(--text-color);
}

.allTasks{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 25%;
    min-height: 30%;

    margin: 10px;
    background-color: rgb(74, 74, 74);
    border-radius: 20px;
    padding: 10px;
}