@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Inter:wght@300&family=Lexend+Deca:wght@200;300&display=swap');
body {
    margin: 0;
}
.outer {
    background-color: #353744;
    display: flex;
    height : 100vh;
    width : 100vw;
}
.outer h3{
    font-family: 'Inter', sans-serif;
    position: absolute;
    left: 30px;
    top: 35px;
    color: #fff;
}
.outer .btn{
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: medium;
    color: #fff;
    font-weight: 300;
    width: 97.23px;
    height: 40px;
    left: 138px;
    top: 44px;
    background: linear-gradient(261.34deg, #5E3E9B 14.5%, #BB50BE 109.24%);
    border-radius: 25px;
}
.common img{
    position: fixed;
    width: 457.89px;
    height: 500px;
    left: 30px;
    top: 30%;
}
.inner2{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 15%;
    background: #2D313D;
    border-radius: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.inner2 .con1 h2{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}
.inner2 input[type=text], input[type=password],input[type=email] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    background: #2D313D;
    border: 2px solid #A74CB9;
    border-radius: 20px;
}
.inner2 input[type=button] {
    width: 75%;
    background-color: #36E2BE;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: linear-gradient(261.34deg, #5E3E9B 14.5%, #BB50BE 109.24%);
    border-radius: 20px;
}
.inner2 input[type=button]:hover {
    opacity: 0.8;
}
.con3{
    display: flex;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: small;
    font-weight: 300;
}
.con3 span{
    color: blueviolet;
    cursor: pointer;
}
.con3 span:hover{
    opacity: 0.8;
}