@import url('https://fonts.googleapis.com/css2?family=Alata&family=Anaheim&family=Inter:wght@300&family=Lexend+Deca:wght@200;300&display=swap');

:root {
    --background-color: #353744;
    --hero-color: #2D313D;
    --text-color:rgba(245, 245, 245, 0.45);
}

body {
    background-color: var(--background-color);
    height: 95vh;
    width: 95vw;
    font-family: 'Alata';
}